* {
  margin: 0;
  padding: 0;
}

#canvas1{
  position: absolute;
  height: inherit;

}
#warpButton{
  margin: 10px;
  width: 200px;
  height: 50px;
  border-radius: 100px;
}
.inputSlider{
  
  display: inline;
 
}
.controls {
  /* position: absolute; */
  position: absolute;
  z-index: 100;
}

.field{
 
  display: inline-block;
  
}
.marginleft{
  margin-left: 20px;
}

.FlexEq{
  display: flex;
  justify-content: space-between;
}
.stinput{
  width: 50px;
  border-radius: 5px;
  margin-left: 10px;
}
.range{
  display: flex;
  margin: 20px;
  margin-top: 5px;
}

img {
  display: none;
}